<section class="content" id="about">
    <div class="block-content">
        <h3 class="block-title">Bienvenue à mon Portfolio</h3>
        <h3 class="subheading"><strong>Merci de prendre 2 minuts pour me connaître</strong></h3>
        <p>Je suis Développeur web depuis 2 ans. J'apporte dinanisme aux aplications web au côté front end et back end. HTML5, CSS3, JS, Angular, Jquery, PHP, SQL et noSQL ne sont pas un mystère pour mois, c'est tegnologies m'acompagnent dans mon parcour professionnel.   </p>
        <div class="info-list row">
            <div class="col-sm-6"><span>Nombre : </span> Anderson Bastidas</div>
            <div class="col-sm-6"><span>Fecha de Nacimiento : </span> Junio 10, 1987 </div>
            <div class="col-sm-6"><span>Dirección : </span> Perú, Lima, Carabayllo.</div>
            <div class="col-sm-6"><span>Email : </span> davisanderson87@gmail.com</div>
            <div class="col-sm-6"><span>Telefono : </span> + 51 959 747 175</div>
            <div class="col-sm-6"><span>Interes : </span> Frelance, Full-Time</div>
        </div>
    </div>

    <!--Experience-->
    <div class="block-content">
        <h3 class="block-title">Experience</h3>
        <div class="timeline experience">
            <div class="row">
                <div class="col-md-12">
                    <div class="exp-holder">
                        <div *ngFor="let expex of portfolio.Experience">
                          <div class="exp">
                              <div class="hgroup">
                                  <h4><a href={{expex.Url}}>
                                    <span>{{ expex.Enterprise }} - {{ expex.Charge }}</span> 
                                  </a></h4>
                                  <h5> {{ expex.Date }} </h5>
                              </div>
                              <p>{{ expex.Description }}</p>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Competences -->
    <div class="block-content">
        <h3 class="block-title">Competences</h3>
      <div *ngFor="let profex of portfolio.Skills">   <!-- variable portfolio provide  experience.component.ts variable  -->
          <label class="progress-bar-label">{{ profex.Name }}</label>
          <div class="progress">
              <div [style.width.%]=profex.Value class="progress-bar" role="progressbar" attr.aria-valuenow="{{ profex.Value }}" aria-valuemin="0" aria-valuemax="100">
                  <span>{{ profex.Value}}%</span>
              </div>
          </div>
      </div>  
    </div>


    <!-- Education -->
    <div class="block-content">
        <h3 class="block-title">Education</h3>
        <div class="timeline education">
            <div class="row">
                <div class="col-md-12">
                    <div class="exp-holder">
                      <div *ngFor="let edux of portfolio.Education">
                        <div class="exp">
                            <div class="hgroup">
                                <h4><a href="{{ edux.Url }}" target="_blank"><span>{{edux.Certificate }}</span></a></h4>
                                <h5>{{ edux.Date }}</h5>
                            </div>
                            <p>{{ edux.Description }}</p>
                        </div>
                      </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Services-->
    <div class="block-content">
        <h3 class="block-title">Services</h3>
        <div class="row">
            <div class="col-md-4 col-sm-6 service">
                <div class="service-icon">
                    <i class="ion-laptop"></i>
                </div>
                <h4>Diseño Web</h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
            </div>
            <div class="col-md-4 col-sm-6 service">
                <div class="service-icon">
                    <i class="ion-pie-graph"></i>
                </div>
                <h4>Desarrollo de Aplicaciones</h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
            </div>
            <div class="col-md-4 col-sm-6 service">
                <div class="service-icon">
                    <i class="ion-paintbucket"></i>
                </div>
                <h4>Diseño Grafico</h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
            </div>
            <div class="col-md-4 col-sm-6 service">
                <div class="service-icon">
                    <i class="ion-printer"></i>
                </div>
                <h4>Print Design</h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
            </div>
            <div class="col-md-4 col-sm-6 service">
                <div class="service-icon">
                    <i class="ion-qr-scanner"></i>
                </div>
                <h4>Graphic Design</h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
            </div>
            <div class="col-md-4 col-sm-6 service">
                <div class="service-icon">
                    <i class="ion-social-buffer"></i>
                </div>
                <h4>Print Design</h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
            </div>
        </div>
    </div>

    <!-- Awards 
    <div class="block-content">
        <h3 class="block-title">Awards</h3>
        <div class="row">
            <div class="col-md-3 col-sm-6 awards">
                <img src="assets\images\awards\1.jpeg" alt="">
            </div>
            <div class="col-md-3 col-sm-6 awards">
                <img src="assets\images\awards\2.jpeg" alt="">
            </div>
            <div class="col-md-3 col-sm-6 awards">
                <img src="assets\images\awards\3.jpeg" alt="">
            </div>
            <div class="col-md-3 col-sm-6 awards">
                <img src="assets\images\awards\4.jpeg" alt="">
            </div>
        </div>
    </div>
    -->
    
    <!-- Testimonials
    <div class="block-content">
        <h3 class="block-title">Testimonios</h3>
        <div class="row">
            <div id="liontestimonial" class="owl-carousel owl-theme">
                <div *ngFor="let testix of cv.testimonio">
                  <div class="item testimonials">
                      <img src="assets\images\testimonials\1.jpeg" alt="">
                      <blockquote>{{ testix.Descripcion }}
                          <p class="quote"><span>{{ testix.Nombre }}</span> - {{ testix.Cargo }}</p>
                      </blockquote>
                  </div>
              </div> .........................comentario a borrar

            </div>
        </div>
    </div> -->
    <div class="row text-center">
        <div class="col-md-12 btn-email">
            <a class="btn lowercase">pl.osoriorodriguez@gmail.com</a>
        </div>
    </div>
</section>
