<div class="preloader">
  <div class="anim pulse"><i class="ion-ios-bolt-outline"></i></div>
</div>
<div class="preloader-left"></div>
<div class="inline-menu-container ">
  <span class="status">Je suis disponible comme Freelance</span>
  <ul class="inline-menu">
      <li class="about menu-item">Expériences</li>
      <li class="portfolio menu-item">Projets</li>
      <!-- <li class="blog menu-item">Blog</li> -->
      <li class="contact menu-item">Contact</li>
      <li id="close" class="menu-item"><i class="ion-ios-close-empty"></i></li>
  </ul>
</div>
<section class="home">
<div class="bgScroll"></div>
  <div class="overlay opacity7"></div>
  <div class="container container-landing">
    <div class="min-container-landing">
        <div class="name-block">
            <div class="name-block-container">
                <h1><span>Bonjour, je suis</span>Pedro Osorio</h1>
                <h2>Developpeur Web</h2>
                <a target="_blank" href="" class="btn btn-download">Télécharger CV</a>
                <ul class="social">
                    <li><a href="https://www.facebook.com/pedro.osoriorodrigez/" target_="_blank"><i class="ion-social-facebook"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/pedro-osorio-rodriguez-726107164" target_="_blank"><i class="ion-social-linkedin"></i></a></li>
                    <li><a href="https://github.com/plOsorio"><i class="ion-social-github" target_="_blank"></i></a></li>
                    <!--<li><a href="https://www.youtube.com/channel/UClZiO1dvoBv1CQrMPpKL_yg/" target_="_blank"><i class="ion-social-youtube"></i></a></li>
                    <li><a href="https://wa.me/34766077019"><i class="ion-social-whatsapp" target_="_blank"></i></a></li>
                    <li><a href="https://www.pinterest.com/davis_anderson_/"><i class="ion-social-pinterest" target_="_blank"></i></a></li>-->
                </ul>
            </div>
        </div>
        <div class="menu-blocks">
            <div class="about-block menu-block">
                <div class="about-block-container">
                    <h2 class="about menu-item">Expériences</h2>
                </div>
            </div>
            <div class="portfolio-block  menu-block">
                <div class="portfolio-block-container">
                    <h2 class="portfolio menu-item">Projets</h2>
                </div>
            </div>
            <!-- <div class="blog-block  menu-block">
                <div class="blog-block-container">
                    <h2 class="blog menu-item">Blog</h2>
                </div>
            </div> -->
            <div class="contact-block  menu-block">
                <div class="contact-block-container">
                    <h2 class="contact menu-item">Contact</h2>
                </div>
            </div>
        </div>
  
    </div>

      <div class="content-blocks about"> 
         <app-experience></app-experience> 
      <!--<app-resumen></app-resumen>--> 
      </div>

      <div class="content-blocks portfolio">
          <app-projects></app-projects>
        <!-- <app-portafolio></app-portafolio> -->
      </div>
      <div class="content-blocks blog">
          <!--<app-blog>hola</app-blog>
           <app-blog></app-blog> -->
      </div>
      <div class="content-blocks contact">
          <app-contact></app-contact>
          <!-- <app-contacto></app-contacto> -->
      </div>

      <div class="content-blocks pop">
          <div id="close-pop" class="close-pop">Cerrar <i class="ion-ios-close-empty"></i></div>
          <section class="content"></section>
      </div>
  </div>
</section>
